.text-destaques{
    text-transform: uppercase;
}
.card-destaques {
  border: 3px solid var(--cor-1); 
  border-radius: 10px;      
  padding: 10px;           
  display: flex;           
  flex-direction: column;  
  align-items: center;
  width: 400px;
  height: 250px;            
  margin: 10px;
  background-color: var(--cor-6);
}
