.corpo-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 80px;
    background-color: #ffffff;
}


.img-container{
    display: flex;
    justify-content: flex-end;

}
.text-img{
    text-decoration: none;
    color: black;
    text-align: center;
}
.img-destaques{
    display: block;
    margin: 0 50px 10px;
}
.destaques-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}