.footer-container{
    text-align: center;
    background-color: var(--cor-4);
    height: 80px;
    font-variant:normal;
    color: white;
    display: flex;
    justify-content:space-around;
}
.link {
    
    text-decoration: none;
    color: white;
    text-transform:uppercase ;
}
.direitos{
    margin-top: 20px;
    text-transform:uppercase ;
}