.ano-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 7px;
    background-color: green;
    border-radius: 4px;
    height: 400px;
    margin: 40px;
}