.navbar-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    background-color: #176018;
    height: 60px;
    padding: 40px;
}
.links{
    text-decoration: none;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    
}
.links :hover{
    scale: 1.5px;
}