
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}
.container{
    height: 100%;
    background-color: black;
}
.mid{
    height: 100%;
    display: flex;

}
.left{
    height: 100%;
    width: 50% ;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px black;

}
.right{
    height: 100%;
    width: 50%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button{
    margin: 20px;
    display: flex;
    border-radius: 20px;
    color: white;
    background-color: red;
    
    
}
.bolinha{
    width: 20%;
    height: 20%;
    border-radius: 100%;
    border:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}